<div class="seccion">
    <div class="container">
        <main class="main-content">
            <section class="left-section">
                <div class="left-content">
                    <div class="profile">
                        <div class="image">
                            <img src="../../../assets/perfil.jpg" alt="Pablo Fernandez Aduviri" />
                        </div>
                        <h2 class="name">Pablo Fernandez Aduviri</h2>
                        <p class="career">Desarrollador de Aplicaciones Web</p>
                    </div>
                    <div class="contact-info">
                        <h3 class="main-title">Información de Contacto</h3>
                        <ul>
                            <li><b>Telf Móvil:</b>70738930</li>
                            <li><b>Email:</b>fernandez.pablo.9362@gmail.com</li>
                            <li>
                                <b>Dirección: </b>Cochabamba Sacaba OTB "La Viña" Calle innominada
                            </li>
                        </ul>
                    </div>
                    <div class="skills-section">
                        <h3 class="main-title">Habilidades</h3>
                        <ul>
                            <li>
                                <p class="skill-title">C#</p>
                                <div class="progress-bar">
                                    <div class="progress c-progress"></div>
                                </div>
                            </li>
                            <li>
                                <p class="skill-title">HTML</p>
                                <div class="progress-bar">
                                    <div class="progress ps-progress"></div>
                                </div>
                            </li>
                            <li>
                                <p class="skill-title">CSS</p>
                                <div class="progress-bar">
                                    <div class="progress j-progress"></div>
                                </div>
                            </li>
                            <li>
                                <p class="skill-title">Javascript</p>
                                <div class="progress-bar">
                                    <div class="progress js-progress"></div>
                                </div>
                            </li>
                            <li>
                                <p class="skill-title">Photoshop</p>
                                <div class="progress-bar">
                                    <div class="progress ps-progress"></div>
                                </div>
                            </li>
                            
                            <li>
                                <p class="skill-title">Illustrator</p>
                                <div class="progress-bar">
                                    <div class="progress ps-progress"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="right-section">
                <div class="right-main-content">
                    <section class="a">
                        <div class="avatar">
                            <svg id="Camada_1" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 251.5 430.6"
                                enable-background="new 0 0 251.5 430.6" xml:space="preserve">
                                <g id="cabeca">
                                    <g id="pescoco">
                                        <rect x="105.5" y="147.5" fill="#E1BFA3" width="27" height="47"></rect>
                                    </g>
                                    <path opacity="0.1"
                                        d="M104.4,172.5c-0.1,4.6,25.5,9.1,29.6-0.5c0,0-1,6.9-2.8,8.3c-1.8,1.3-12,8.5-12,8.5s-12.8-2.9-14.1-7.2        C103.8,177.3,104.4,172.5,104.4,172.5z">
                                    </path>
                                    <g id="orelhas">
                                        <g>
                                            <g>
                                                <path fill="#E1BFA3"
                                                    d="M178.5,113.7L178.5,113.7c0-5.3-4-9.2-8.6-9.2h-11.5l-6.2,18.6c0,0.2,9.4,0.4,9.5,0.4h8.2              C174.5,123.5,178.5,118.9,178.5,113.7z">
                                                </path>
                                            </g>
                                            <g opacity="6.000000e-002">
                                                <path
                                                    d="M166,108.8c0,0,1-0.5,2.6-0.5c0.8,0,1.9,0.1,2.9,0.8c0.5,0.3,1,0.8,1.3,1.4c0.1,0.3,0.3,0.6,0.3,0.9              c0.1,0.2,0.1,0.5,0.2,0.8c0.2,1.1,0.2,2.2-0.1,3.3c-0.1,0.5-0.3,1-0.6,1.5c-0.2,0.5-0.6,0.8-0.9,1.1c-0.7,0.6-1.5,0.7-2,0.6              c-0.5,0-0.7-0.1-0.7-0.1c0,0,1.2-0.2,1.9-1.3c0.7-1.1,0.8-3,0.5-4.8c0-0.2-0.1-0.5-0.1-0.7c0-0.2-0.1-0.4-0.2-0.5              c-0.2-0.3-0.3-0.6-0.6-0.9c-0.5-0.5-1.3-0.8-2-1.1C167.1,108.9,166,108.8,166,108.8z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path fill="#E1BFA3"
                                                    d="M58.5,113.7L58.5,113.7c0-5.3,4-9.2,8.7-9.2h11.5l6.2,18.6c0,0.2-9.4,0.4-9.5,0.4h-8.2              C62.5,123.5,58.5,118.9,58.5,113.7z">
                                                </path>
                                            </g>
                                            <g opacity="8.000000e-002">
                                                <path
                                                    d="M70.3,108.8c0,0-1.1,0.2-2.5,0.6c-0.7,0.2-1.5,0.6-2,1.1c-0.3,0.2-0.4,0.6-0.6,0.9c0,0.2-0.1,0.3-0.2,0.5              c0,0.3-0.1,0.5-0.1,0.7c-0.3,1.8-0.2,3.8,0.5,4.8c0.7,1.1,2,1.2,1.9,1.3c0,0-0.2,0.1-0.7,0.1c-0.5,0-1.3-0.1-2-0.6              c-0.4-0.3-0.7-0.7-0.9-1.1c-0.3-0.4-0.5-0.9-0.6-1.5c-0.3-1.1-0.2-2.2-0.1-3.3c0-0.3,0.1-0.5,0.2-0.8c0.1-0.3,0.2-0.6,0.3-0.9              c0.3-0.6,0.8-1.1,1.3-1.4c1-0.7,2-0.8,2.9-0.8C69.3,108.3,70.3,108.8,70.3,108.8z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                    <g opacity="0.1">
                                        <path d="M104.6,156.7l27.9,1.1v2.2c0,0-20,6-27,3.4v-5.6L104.6,156.7z"></path>
                                    </g>
                                    <g id="queixo">
                                        <path fill="#E1BFA3"
                                            d="M73.8,115.3c0-24.9,20.2,6.3,45.1,6.3s45.1-31.2,45.1-6.3s-20.2,45.1-45.1,45.1S73.8,140.2,73.8,115.3z">
                                        </path>
                                    </g>
                                    <g id="face">
                                        <path fill="#E1BFA3"
                                            d="M163.5,108.9c0,15.3-12.4,27.6-27.6,27.6h-33.7c-15.3,0-27.6-12.4-27.6-27.6V75.1          c0-15.3,12.4-27.6,27.6-27.6h33.7c15.3,0,27.6,12.4,27.6,27.6V108.9z">
                                        </path>
                                    </g>
                                    <g id="sombratesta" opacity="0.1">
                                        <path
                                            d="M151.8,66.7c0,0-35.1,17.4-63.8,2.1c0,0-10.7,12.6-11.3,13.1C76,82.4,73.1,83,73.1,83l-2.1-8.8l9.1-11.3l4-1.1l41.2,3.2          l26.3,0.2L151.8,66.7z">
                                        </path>
                                    </g>
                                    <g id="boca">
                                        <path fill="#CE9A74"
                                            d="M127.2,131.5c0,0,0.7,0.6,0.8,2.1c0,0.7-0.1,1.5-0.6,2.3c-0.2,0.4-0.5,0.8-0.9,1.1          c-0.4,0.3-0.8,0.5-1.3,0.8c-0.3,0.1-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.2c-0.9-0.3-1.6-0.8-2-1.3c-0.9-1.1-0.7-2.1-0.8-2.1          c0,0,0.1,0.2,0.4,0.4c0.2,0.3,0.6,0.6,1.1,0.8c0.5,0.3,1,0.4,1.6,0.5c0.3,0,0.6,0,0.9,0c0.3,0,0.5-0.1,0.9-0.2          c0.2-0.1,0.5-0.2,0.8-0.4c0.2-0.2,0.5-0.4,0.7-0.6c0.4-0.4,0.7-1,0.9-1.5c0.2-0.5,0.3-1,0.3-1.3          C127.2,131.8,127.2,131.5,127.2,131.5z">
                                        </path>
                                    </g>
                                    <g id="cabelo">
                                        <g id="lados">
                                            <g>
                                                <path fill="#6B5947"
                                                    d="M84.4,67c0,0-5.9,10-9,13.8c0,0,3.9,26.7-1.7,32.6c0,0-0.8-2.4-2.6-5.4c-1.8-3.1-6.5-37.2-4.7-42.3              s6.1-13.8,12-12.8C84.4,54,84.4,67,84.4,67z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#6B5947"
                                                    d="M164,114.4l0.1,0.1c0,0,6.8-27.6,6-36.6s-3.3-18.7-5.1-21.7c-1.8-3.1-10.7-5.6-12-2.8              c-1.3,2.8-6.1,9-6.1,9s12.5,12,13,14.8c0.4,2.1,0.5,15.3-0.1,24.2C159.4,106.2,160.9,110.9,164,114.4z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M84.2,65.4c0,0-5.6,11.5-9.6,14c0,0,7.8-12.3,8-14c0.2-1.8,0.2-1.8,0.2-1.8L84.2,65.4z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M73.8,113.5c0,0-3.2-13.9-3.2-15.6c0-1.8,0.2-4.9,0.2-4.9s-1.8,8.3,0,14.2L73.8,113.5z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D" d="M162,94.8c0,0-0.2,11,1.4,14.5l0.5-2.7L162,94.8z">
                                                </path>
                                            </g>
                                        </g>
                                        <g id="franja">
                                            <g>
                                                <path fill="#6B5947"
                                                    d="M72.9,59.6c0,0,33.5,22.5,72.7,7.7c0,0,17.4-1.8,22.3-11.8c0,0-6.1,1-7.2,1c-1,0,4.6-6.7,4.9-16.9              c0.3-10.2-3.3-13.6-3.3-13.6s-5.9,10-10.5,11c0,0,2.6-8.7,2.3-13.3s0-6.1,0-6.1s-8.2,12-36.8,13.8c-28.7,1.8-39.1,3.1-43.2,7.7              c-4.1,4.6-4.1,12.8-3.3,15.6S72.9,59.6,72.9,59.6z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M73.6,55.9c0.2-1.2-2.6-8.1,1.2-11.7c3.8-3.6,15.3-6.9,23.5-7.2c8.1-0.2,29.2-1.7,34.2-3.4              c5-1.7,7.4-3.8,7.4-3.8s-2.6,6.9-37.8,10.3C66.9,43.4,73.6,55.9,73.6,55.9z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M154.7,37.7c0,0-8,7-26,9.3c-18,2.2-24.6,4.9-24.6,4.9s32.5-3.5,34.6-3.7              C140.8,48.1,151.6,47.9,154.7,37.7z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M83.7,57.8c0,0,12,2.9,15.3,2.6c3.4-0.2,9.1-2.2,9.1-2.2S103.1,65.9,83.7,57.8z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M154,17.6c0,0-5.2,12.9-6.7,14.1c-1.4,1.2-4.5,3.8-4.5,3.8s7.7-2.9,9.8-9.1L154,17.6z">
                                                </path>
                                            </g>
                                            <g>
                                                <path fill="#3D332D"
                                                    d="M150.7,66.4c0,0,15.1-5.8,17.1-10.9c0,0-19.7,11-22.3,11.8L150.7,66.4z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="sobrancelhas">
                                        <g>
                                            <path fill="#3D332D"
                                                d="M84.6,92c0,0,16.8-9.6,14.2-12.2C96.2,77.2,84.6,92,84.6,92z"></path>
                                        </g>
                                        <g>
                                            <path fill="#3D332D"
                                                d="M151.5,91.5c0,0-16.8-9.6-14.2-12.2C139.9,76.8,151.5,91.5,151.5,91.5z">
                                            </path>
                                        </g>
                                    </g>
                                    <g id="nariz">
                                        <path fill="#917B6A"
                                            d="M115.1,86.2c0,0-0.1,0.8-0.3,2.2c-0.2,1.4-0.5,3.4-0.8,5.8c-0.4,2.4-0.7,5.2-1.2,8.1c-0.5,3-1,6.1-1.5,9.3          c-0.5,3.2-1,6.3-1.4,9.3c-0.1,0.7-0.2,1.5-0.3,2.2c-0.1,0.7-0.1,1.5-0.1,1.9c0.1,0.4,0.6,0.8,1.1,1.2c0.5,0.3,1.1,0.6,1.6,0.8          c2.2,0.8,4.2,1.3,5.5,1.6c1.4,0.3,2.2,0.5,2.2,0.5s-0.8,0-2.2-0.2c-1.4-0.2-3.4-0.3-5.8-1.1c-0.6-0.2-1.2-0.4-1.8-0.7          c-0.6-0.3-1.3-0.7-1.7-1.7c-0.2-1-0.1-1.6,0-2.4c0.1-0.7,0.1-1.5,0.2-2.2c0.4-3,0.8-6.2,1.3-9.4c0.6-3.2,1.1-6.3,1.6-9.3          c0.6-3,1.2-5.7,1.6-8.1c0.5-2.4,1-4.3,1.3-5.7C114.9,87,115.1,86.2,115.1,86.2z">
                                        </path>
                                    </g>
                                    <g id="olhos">
                                        <circle fill="#3D332D" cx="98.4" cy="114" r="2.4"></circle>
                                        <circle fill="#3D332D" cx="136.9" cy="114" r="2.4"></circle>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </section>
    
    
    
    
    
                    <section class="about sect">
                        <h2 class="right-title">Perfil</h2>
                        <p class="para">
                            Estudiante de Sistemas Informáticos, especializado en desarrollar
                            páginas web y diseño gráfico. Conocimientos medios de C#, Python, y
                            Basicos en Java. Con manejo de Windows y Linux.<br />
                            <br />
                            Enfocado en la resolución de problemas, atención a los detalles,
                            buena gestión de tiempo, acostumbrado a trabajar en equipo y
                            completa disposición a cualquier servicio de apoyo.
                        </p>
                    </section>
    
                    <section class="experince sect">
                        <h2 class="right-title">Experiencia</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">
                                    Servicio Técnico <br />
                                    (Movil-Systems)
                                </h5>
                                <p class="para"></p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Reparación de Celulares</h5>
                                    <p class="para">
                                        Durante este tiempo trabaje como ayudante de reparación de
                                        Móviles celulares y ensamblado de Pc's.
                                        <br /><br />
                                        Mis actividades Principalmente Consistían en: Realizar el
                                        cambio de pantalla de los dispositivos y Realizar la entrega
                                        de sus productos a domicilio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
    
                    <section class="education sect">
                        <h2 class="right-title">Educación</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">
                                    Desarrollador de Aplicaciones Web
                                </h5>
                                <p class="para"></p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2"></h5>
                                    <p class="para">En Desarrollo.</p>
                                </div>
                            </div>
                        </div>


                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">
                                    Macros, VBA Excel y Programacion Orientada a Objetos
                                </h5>
                                <p class="para"></p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2"></h5>
                                    <p class="para">Estudios Culminados Exitosamente</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">
                                    Técnico Superior <br />"Instituto Técnico Federico Alvarez
                                    Plata"
                                </h5>
                                <p class="para"></p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2"></h5>
                                    <p class="para">En Desarrollo.</p>
                                </div>
                            </div>
                        </div>
    
                        <br /><br />
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Secundaria <br />"8 de Mayo"</h5>
                                <p class="para"></p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2"></h5>
                                    <p class="para">Estudios Culminados Exitosamente.</p>
                                </div>
                            </div>
                        </div>
                        <br /><br />
    
                        <!-- <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">
                                    Primaria <br />
                                    "Simón Bolivar"
                                </h5>
                                <p class="para">2004 - 2011</p>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2"></h5>
                                    <p class="para">Estudios Culminados Exitosamente.</p>
                                </div>
                            </div>
                        </div> -->
                        <br /><br />
                    </section>
    
                    <section class="awards sect">
                        <h2 class="right-title">Habilidades</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Técnico</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Correcto Desempeño</h5>
                                    <p class="para">
                                        Tengo conocimiento y habilidad en la reparación de celulares,
                                        también en la reparación y ensamblado de computadoras con la
                                        determinación de seguir aprendiendo y desarrollar una mejor
                                        capacidad que me impulse a seguir adelante.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Personal</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Buen Apoyo</h5>
                                    <p class="para">
                                        Tengo un buen manejo y administración de mis trabajos con
                                        mucha motivación de seguir adelante y aprender nuevas
                                        habilidades, también poseo un buen desempeño en la oratoria en
                                        momentos simples con apoyo profesional.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
    
                    <section class="awards sect">
                        <h2 class="right-title">Idiomas</h2>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Inglés</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Medio</h5>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="left-tl-content">
                                <h5 class="tl-title">Español</h5>
                            </div>
                            <div class="right-tl-content">
                                <div class="tl-content">
                                    <h5 class="tl-title-2">Avanzado</h5>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </div>
</div>