<!-- 
  <div class="body">
    <div class="footer">
      <div class="bubbles">
        <div
          class="bubble"
          style="
            --size: 4.086646002415308rem;
            --distance: 6.79360406995633rem;
            --position: 16.232388931041765%;
            --time: 2.83707556922668s;
            --delay: -2.4423106637008534s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.2349173364938073rem;
            --distance: 9.477940516573891rem;
            --position: 84.642322114942%;
            --time: 3.720179276682831s;
            --delay: -3.8206605666598534s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.9502259678349763rem;
            --distance: 6.705814229263605rem;
            --position: 53.9572588384113%;
            --time: 3.3721797575504264s;
            --delay: -3.566345675761782s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.703975220794973rem;
            --distance: 6.513671647147941rem;
            --position: 53.95068819530684%;
            --time: 3.081786904112648s;
            --delay: -2.2094362019872515s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.365863337786951rem;
            --distance: 7.123078723003441rem;
            --position: 9.560213533567586%;
            --time: 3.7099723190853524s;
            --delay: -2.1549947046016054s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.240014684230139rem;
            --distance: 6.7591393815766985rem;
            --position: 61.05220753170363%;
            --time: 3.421283033450089s;
            --delay: -2.005180400788847s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.262647579498407rem;
            --distance: 9.271658660873205rem;
            --position: 53.92434760076813%;
            --time: 2.650004635985667s;
            --delay: -2.2267023986993957s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.295247250838549rem;
            --distance: 6.175570497036767rem;
            --position: 27.16344066503742%;
            --time: 3.940976792564999s;
            --delay: -2.0305203658200504s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.53038423211795rem;
            --distance: 9.354248264263052rem;
            --position: 104.75847822601914%;
            --time: 2.932529537477188s;
            --delay: -3.528263709003835s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.821039849768721rem;
            --distance: 9.268202376083035rem;
            --position: 100.3383346917208%;
            --time: 2.6665884120094274s;
            --delay: -2.542505715991597s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.7064144557224328rem;
            --distance: 8.599383142030321rem;
            --position: 81.57666813071395%;
            --time: 3.288975905501888s;
            --delay: -3.315931981377232s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.491010464509069rem;
            --distance: 8.594438346274675rem;
            --position: 29.293285725872863%;
            --time: 3.0426679669845935s;
            --delay: -3.666404277048705s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.7029110133211898rem;
            --distance: 7.483464194938656rem;
            --position: 37.42742236500533%;
            --time: 3.671907404719583s;
            --delay: -2.5802605142591926s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.1399953750739993rem;
            --distance: 7.189721611474441rem;
            --position: 11.198796253922357%;
            --time: 3.9873105510726132s;
            --delay: -3.9373147898995793s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.2898766306792933rem;
            --distance: 7.295325740374882rem;
            --position: 11.7758318092114%;
            --time: 3.1854128561371993s;
            --delay: -3.5542305617144776s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.880280452054376rem;
            --distance: 8.853116408447471rem;
            --position: 1.1744761757773396%;
            --time: 2.597785938777436s;
            --delay: -3.037818854723882s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.074718379614181rem;
            --distance: 7.84102581031078rem;
            --position: 58.582628666025045%;
            --time: 2.1029059691589507s;
            --delay: -3.5666554778481414s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.936425563487571rem;
            --distance: 9.904026647545972rem;
            --position: 37.47504313550389%;
            --time: 2.136349330139209s;
            --delay: -2.5541217823317965s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.6832082199914096rem;
            --distance: 7.185314250243166rem;
            --position: 57.827568545614966%;
            --time: 3.297508597370715s;
            --delay: -3.243316332837373s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.427139942347873rem;
            --distance: 7.161513116479188rem;
            --position: 102.09690687557303%;
            --time: 3.9978762388433586s;
            --delay: -3.3871063506548373s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.2402362848439665rem;
            --distance: 8.35188503640202rem;
            --position: 99.22730906890503%;
            --time: 3.403034410917472s;
            --delay: -3.1586012442538585s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.5274186248026282rem;
            --distance: 6.548531335947935rem;
            --position: 26.848740728873036%;
            --time: 2.248651446319082s;
            --delay: -3.906047872622443s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.542375591791422rem;
            --distance: 6.504075618561914rem;
            --position: 9.213281621526662%;
            --time: 2.5296266699298755s;
            --delay: -3.236184832544293s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.023183518163793rem;
            --distance: 7.544224972982199rem;
            --position: 32.90854938070827%;
            --time: 2.260632302327719s;
            --delay: -3.2708375116915005s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.4716872531495797rem;
            --distance: 6.618721416245929rem;
            --position: 3.2533020745489694%;
            --time: 3.600490324609563s;
            --delay: -2.6855582074850863s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.664646479456624rem;
            --distance: 7.323420602792695rem;
            --position: 93.99903481855712%;
            --time: 2.924754802636865s;
            --delay: -2.9334499605486064s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.105589642923853rem;
            --distance: 8.813894878462198rem;
            --position: -3.914999871073883%;
            --time: 3.6133972332577473s;
            --delay: -3.1552012859334027s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.9069520967732396rem;
            --distance: 7.773378298919429rem;
            --position: 100.67378782026394%;
            --time: 3.8793917783701817s;
            --delay: -3.610377739422639s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.778865127764249rem;
            --distance: 9.070234171163921rem;
            --position: 68.57755728359244%;
            --time: 3.6004957292448125s;
            --delay: -3.764513856012914s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.803321895067108rem;
            --distance: 6.822486352304726rem;
            --position: 48.61549411697055%;
            --time: 3.3109938946226802s;
            --delay: -2.739684706219457s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.873973396694351rem;
            --distance: 6.515586155916782rem;
            --position: 98.28403674246717%;
            --time: 2.5080303118114395s;
            --delay: -2.336224222849962s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.20914120865117rem;
            --distance: 9.156933509516113rem;
            --position: 88.6650905771795%;
            --time: 2.804683079066603s;
            --delay: -2.1725837374807653s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.321049519616523rem;
            --distance: 9.091098799019942rem;
            --position: 38.89608279733914%;
            --time: 2.4309042886430086s;
            --delay: -2.278189527410144s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.965724068592402rem;
            --distance: 7.634311420474531rem;
            --position: 9.04802568693495%;
            --time: 2.4664476994573046s;
            --delay: -2.3354282844024663s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.969819037784588rem;
            --distance: 8.687194583968648rem;
            --position: 91.08797478119457%;
            --time: 2.2682833524906814s;
            --delay: -3.857254520475504s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.8894471954648644rem;
            --distance: 8.849658197189047rem;
            --position: 19.650667784909693%;
            --time: 2.9422571581272026s;
            --delay: -3.245311229154847s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.825733220474651rem;
            --distance: 7.248249598530839rem;
            --position: 76.33215460451474%;
            --time: 3.6501865699620377s;
            --delay: -3.930320882608135s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.022770116750154rem;
            --distance: 6.912358067970494rem;
            --position: 90.84949737421994%;
            --time: 2.9428516904385997s;
            --delay: -3.041615518675001s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.220431543704969rem;
            --distance: 8.990897037343366rem;
            --position: 57.273526125161695%;
            --time: 3.2820710051938256s;
            --delay: -3.7460150528167135s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.5649681674531584rem;
            --distance: 8.069512961720651rem;
            --position: 60.91596747580766%;
            --time: 3.6603345364009057s;
            --delay: -3.563894634891009s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.2167125073534875rem;
            --distance: 8.047887457329846rem;
            --position: 81.91066020206074%;
            --time: 2.6240837636378638s;
            --delay: -2.315493983916569s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.904746350632639rem;
            --distance: 7.578217842650131rem;
            --position: -2.7226536240430232%;
            --time: 2.5382097108866644s;
            --delay: -2.120777203575061s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.885364031828629rem;
            --distance: 8.60303595897911rem;
            --position: 65.06137744340697%;
            --time: 3.41202800083637s;
            --delay: -3.4766332308727885s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.77812372232278rem;
            --distance: 6.439518006398438rem;
            --position: 62.75852689513778%;
            --time: 2.184488674674178s;
            --delay: -2.713787750752999s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.278317028772186rem;
            --distance: 7.702011299314621rem;
            --position: 99.65405449935635%;
            --time: 2.2755386197520355s;
            --delay: -2.484284621864437s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.8587446963389205rem;
            --distance: 9.3319792118238rem;
            --position: 16.38978841981992%;
            --time: 3.179657565458776s;
            --delay: -2.294754865122598s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.2355564764475613rem;
            --distance: 6.971427002005527rem;
            --position: 25.851904286789043%;
            --time: 3.49620861410636s;
            --delay: -2.0398600076609705s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.426469985068024rem;
            --distance: 6.15310689690758rem;
            --position: 61.99619829044187%;
            --time: 2.9512998870482905s;
            --delay: -2.767033457761417s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.2446476598440075rem;
            --distance: 8.547471788826225rem;
            --position: 17.637650112808895%;
            --time: 3.664717259539912s;
            --delay: -2.2860340524016225s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.588964619152404rem;
            --distance: 9.501954736283476rem;
            --position: 12.984882179687727%;
            --time: 3.158198682375432s;
            --delay: -3.6031578637805852s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.365598943886935rem;
            --distance: 6.606044405320875rem;
            --position: 20.20549383561869%;
            --time: 2.2261037831827055s;
            --delay: -3.0437800025193833s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.6831745855961397rem;
            --distance: 9.61004878796512rem;
            --position: 77.66218578935532%;
            --time: 2.4145786934362143s;
            --delay: -2.5071012280841583s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.749682713319446rem;
            --distance: 9.17414207051522rem;
            --position: 26.88009591887366%;
            --time: 2.1108094595690767s;
            --delay: -2.335883482244939s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.667158630469763rem;
            --distance: 6.966396923336633rem;
            --position: 93.30315765194729%;
            --time: 3.8601992642694434s;
            --delay: -2.781492813358568s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.6812008051527094rem;
            --distance: 9.494272023885046rem;
            --position: 32.303552627881466%;
            --time: 3.0883750936382737s;
            --delay: -2.875459117408396s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.004503598504913rem;
            --distance: 9.263029516817479rem;
            --position: 91.51494123064153%;
            --time: 2.8920992039819526s;
            --delay: -3.9201444158482825s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.4891623719097487rem;
            --distance: 6.758181382083282rem;
            --position: 31.098539315642313%;
            --time: 3.685853886705167s;
            --delay: -3.4352722656897847s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.6167832743694692rem;
            --distance: 7.096354884826869rem;
            --position: 34.359341294958554%;
            --time: 2.6295905831697657s;
            --delay: -3.606570905699768s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.128625908934497rem;
            --distance: 8.208595173017127rem;
            --position: 101.9117521060965%;
            --time: 2.0469893101036467s;
            --delay: -3.9632899813542006s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.2667479149291596rem;
            --distance: 6.665207745141898rem;
            --position: 89.31379517050469%;
            --time: 2.2810797263760083s;
            --delay: -2.105729569728023s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.207590612673699rem;
            --distance: 7.702844623473458rem;
            --position: 60.195259239303724%;
            --time: 3.788441210674475s;
            --delay: -2.3142887013205984s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.1039750770931382rem;
            --distance: 8.062507112722901rem;
            --position: 81.30044275657524%;
            --time: 3.965807131752043s;
            --delay: -2.1638849151699255s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.655923021254583rem;
            --distance: 8.28556355699016rem;
            --position: 33.24952273591883%;
            --time: 3.522953519316434s;
            --delay: -3.3374190784697286s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.491618019923175rem;
            --distance: 6.442414000794991rem;
            --position: 88.77296457130619%;
            --time: 2.273247931694899s;
            --delay: -3.1895049517197167s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.34804626739258rem;
            --distance: 7.481674464102729rem;
            --position: 68.92558702637949%;
            --time: 3.2585700338274752s;
            --delay: -2.6924081646849043s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.8765400678476354rem;
            --distance: 7.697639964753687rem;
            --position: 43.48920293366825%;
            --time: 3.8599207274935674s;
            --delay: -3.2401175503236876s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.5690369993021624rem;
            --distance: 6.644039071868206rem;
            --position: 84.13570713235613%;
            --time: 3.5117085345313224s;
            --delay: -3.7441041033600846s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.09195559404865rem;
            --distance: 6.550958263911503rem;
            --position: 36.667473045232356%;
            --time: 3.0874878843631444s;
            --delay: -3.122552011532343s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.3832115458466925rem;
            --distance: 7.6176472616999344rem;
            --position: -3.9831410209796014%;
            --time: 3.2923585779150306s;
            --delay: -3.9147632887160158s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.080907622987298rem;
            --distance: 6.526373895899425rem;
            --position: 65.23421417476408%;
            --time: 3.713018500712356s;
            --delay: -2.9072606675957506s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.779503998391127rem;
            --distance: 6.542404486717521rem;
            --position: 62.5593678596761%;
            --time: 2.9885391602448648s;
            --delay: -2.104789717919985s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.023939584220337rem;
            --distance: 8.937700362661644rem;
            --position: 87.8357480316817%;
            --time: 2.1283188950124474s;
            --delay: -2.5869280130174284s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.238352574507742rem;
            --distance: 6.648287141903593rem;
            --position: -4.694730155686015%;
            --time: 2.797645404765673s;
            --delay: -3.3220617766867693s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.764488270952004rem;
            --distance: 8.585414641792902rem;
            --position: 17.97813017749881%;
            --time: 2.919220423005171s;
            --delay: -2.463193770124214s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.5160253940140676rem;
            --distance: 7.40342975337102rem;
            --position: 97.07372029729724%;
            --time: 2.5281855983473394s;
            --delay: -2.8663961300061636s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.863126207615308rem;
            --distance: 7.109810290596481rem;
            --position: -2.713879591456314%;
            --time: 2.5517265841335464s;
            --delay: -2.9204960373392193s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.077571734282989rem;
            --distance: 9.77344656110204rem;
            --position: 24.740650741153363%;
            --time: 3.5268396063255345s;
            --delay: -2.2993535101740976s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.5491408223397425rem;
            --distance: 6.729692540650892rem;
            --position: 14.28052357455178%;
            --time: 3.9064693361673726s;
            --delay: -3.7839224902497435s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.064182676921637rem;
            --distance: 9.444235317658531rem;
            --position: -2.689654529410026%;
            --time: 3.4262357796566163s;
            --delay: -2.768640236507147s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.2570493307374617rem;
            --distance: 8.120045523621027rem;
            --position: 104.06836128977955%;
            --time: 2.8838577376167813s;
            --delay: -3.53226048577893s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.415595262501339rem;
            --distance: 9.63083456252641rem;
            --position: 7.824695139639747%;
            --time: 2.6268059366719885s;
            --delay: -2.933852250148611s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.949219874013644rem;
            --distance: 6.994838336272297rem;
            --position: 3.703130180114414%;
            --time: 3.019464412324373s;
            --delay: -3.277010967291839s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.682245512734383rem;
            --distance: 7.884940833771334rem;
            --position: 36.61188927705491%;
            --time: 3.370345762997044s;
            --delay: -2.5464135503875824s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.952371877416227rem;
            --distance: 7.286127290315461rem;
            --position: 88.18131636113682%;
            --time: 2.5952188434465566s;
            --delay: -2.316270765442361s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.308499202059002rem;
            --distance: 7.3243902605558615rem;
            --position: 49.92301307392257%;
            --time: 3.5751993383195635s;
            --delay: -3.1371255293454317s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.1934072157423845rem;
            --distance: 7.945850792144592rem;
            --position: 63.88077374139576%;
            --time: 3.323200506655694s;
            --delay: -3.559114642557087s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.957890904519934rem;
            --distance: 6.613167460783068rem;
            --position: 47.51880483315297%;
            --time: 3.0156674077982237s;
            --delay: -2.889672407736403s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.549446852498942rem;
            --distance: 9.691218851061839rem;
            --position: -0.8173587478054767%;
            --time: 3.324498485825709s;
            --delay: -2.89609475667271s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.930374206402035rem;
            --distance: 8.041719935046482rem;
            --position: 70.46842839381142%;
            --time: 2.9666229101836694s;
            --delay: -3.429267260168385s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.1083153703271886rem;
            --distance: 9.484549252535416rem;
            --position: 90.250499466315%;
            --time: 2.560727184098926s;
            --delay: -2.95047995797521s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.7979779494832675rem;
            --distance: 8.561188178732817rem;
            --position: 26.8275051195779%;
            --time: 3.74454288809609s;
            --delay: -3.351712994611108s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.907589331938894rem;
            --distance: 6.816972321541982rem;
            --position: 49.089850751377476%;
            --time: 3.628705644811594s;
            --delay: -2.7335774754077673s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.363946607031287rem;
            --distance: 8.57485350667481rem;
            --position: 103.835964364524%;
            --time: 3.365090838849885s;
            --delay: -2.5297782572410057s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.0937194387335207rem;
            --distance: 6.478092835586959rem;
            --position: 73.23036963159998%;
            --time: 2.8072139768472097s;
            --delay: -2.0592331502936334s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.1832651709889745rem;
            --distance: 8.137670049223694rem;
            --position: 29.822315627151823%;
            --time: 3.656983388462127s;
            --delay: -2.3779663345339004s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.41825592283559rem;
            --distance: 9.073638048165268rem;
            --position: 93.31945749451472%;
            --time: 3.9091591427342967s;
            --delay: -3.349935706956264s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.375618339748575rem;
            --distance: 8.9196675086523rem;
            --position: 77.04446161835887%;
            --time: 3.9145729404261824s;
            --delay: -2.4961963783838708s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.776632061518021rem;
            --distance: 9.985626908279748rem;
            --position: 3.228924296668456%;
            --time: 2.166932815148779s;
            --delay: -3.5043560927373387s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.3180195121873375rem;
            --distance: 9.045488160552804rem;
            --position: 11.610717964170075%;
            --time: 3.714632248505565s;
            --delay: -3.9332065681315114s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.694733262970356rem;
            --distance: 6.073027431338351rem;
            --position: 93.36155775048088%;
            --time: 2.6465584510165363s;
            --delay: -3.3707971809143555s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.7274406314407003rem;
            --distance: 8.066588054838164rem;
            --position: 53.31413829820392%;
            --time: 2.2899270420027698s;
            --delay: -3.2207258333591495s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.3041599582351724rem;
            --distance: 8.455547843245329rem;
            --position: 78.07903575411996%;
            --time: 2.3447972390466463s;
            --delay: -3.535973349470092s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.0011676115374124rem;
            --distance: 7.88653897532392rem;
            --position: -2.110503115606226%;
            --time: 3.914908777104011s;
            --delay: -2.5768412896129567s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.093511211119118rem;
            --distance: 8.472878132788468rem;
            --position: 50.050611123184225%;
            --time: 2.610200241464557s;
            --delay: -3.8202844029087655s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.624929549365934rem;
            --distance: 6.267228659442858rem;
            --position: 22.99771415899591%;
            --time: 2.3674470179045333s;
            --delay: -3.7790385611287087s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.105678101041166rem;
            --distance: 8.10012847764633rem;
            --position: 75.0626823709522%;
            --time: 2.6865302136694185s;
            --delay: -2.1949837107916323s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.282790595753654rem;
            --distance: 6.27504949916443rem;
            --position: -1.2335658269484084%;
            --time: 2.3182683455692215s;
            --delay: -3.2268726205975926s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.001729826756688rem;
            --distance: 8.638349633289435rem;
            --position: 50.85490557167191%;
            --time: 3.3894223207587078s;
            --delay: -2.2490954844088975s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.340401284307461rem;
            --distance: 8.769447913550533rem;
            --position: 32.46288654528439%;
            --time: 2.234216686264211s;
            --delay: -2.6935448814885254s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.1942932779471755rem;
            --distance: 9.113254702813832rem;
            --position: 28.34079270508716%;
            --time: 2.5602092268997714s;
            --delay: -2.342308791310562s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.212641183286625rem;
            --distance: 8.413844220740913rem;
            --position: 29.38170443668878%;
            --time: 2.568370702442406s;
            --delay: -2.265815789600048s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.606468580825421rem;
            --distance: 6.365882897888777rem;
            --position: 71.15501848366583%;
            --time: 2.2184373714442827s;
            --delay: -2.0695859511848074s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.9288798131691998rem;
            --distance: 8.428077535699785rem;
            --position: 49.28663676993155%;
            --time: 3.8459415523857454s;
            --delay: -2.1277636310984973s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.707800897433038rem;
            --distance: 7.714740068943703rem;
            --position: 7.091027186170875%;
            --time: 3.225639802855469s;
            --delay: -3.841519455850949s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 4.59689131638445rem;
            --distance: 8.752663131207338rem;
            --position: 11.557710274080936%;
            --time: 3.046913877720341s;
            --delay: -3.0977113656993036s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.6768967543233613rem;
            --distance: 9.975811529208197rem;
            --position: 14.006731454906195%;
            --time: 3.5488906093307016s;
            --delay: -2.710734531752638s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.8667010884027153rem;
            --distance: 9.677304161434105rem;
            --position: 2.9939021263200143%;
            --time: 3.7058029506217762s;
            --delay: -3.348745916440972s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.786533602767088rem;
            --distance: 7.847086028688034rem;
            --position: 4.140609785076737%;
            --time: 2.629411030458366s;
            --delay: -2.2706738481650666s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.5007192236228972rem;
            --distance: 8.487690265471656rem;
            --position: 102.91727534101761%;
            --time: 2.40296276614045s;
            --delay: -3.894888216835966s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.1074988990938373rem;
            --distance: 7.873151189728527rem;
            --position: 2.11980872433283%;
            --time: 3.4962868326913363s;
            --delay: -3.3181831908219173s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.7452880005489098rem;
            --distance: 8.373892338753189rem;
            --position: 72.33644664327862%;
            --time: 3.331248892879373s;
            --delay: -2.804461597833993s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.2488864724537674rem;
            --distance: 6.8189021898254305rem;
            --position: 80.20099390189851%;
            --time: 3.6916678349124963s;
            --delay: -3.740912139501624s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.7104316561677306rem;
            --distance: 9.413652021152199rem;
            --position: 69.71380699564811%;
            --time: 2.9101769953011143s;
            --delay: -3.8952913693830493s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 2.8804916110965477rem;
            --distance: 9.722971984216883rem;
            --position: 2.9865615905794733%;
            --time: 3.389483523591326s;
            --delay: -2.188925679199228s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.4168141250547226rem;
            --distance: 6.675588539263869rem;
            --position: 37.1499739164519%;
            --time: 3.4028954456691864s;
            --delay: -2.572551392728514s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.534542130180953rem;
            --distance: 9.96903673833214rem;
            --position: 20.14466722411003%;
            --time: 2.2171911888745948s;
            --delay: -3.7892219464319914s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 3.0955756769127474rem;
            --distance: 7.891441274593456rem;
            --position: 47.61036512983767%;
            --time: 3.7465295465202235s;
            --delay: -2.263301734163277s;
          "
        ></div>
        <div
          class="bubble"
          style="
            --size: 5.173837283842709rem;
            --distance: 6.662294747195278rem;
            --position: 97.42283779350223%;
            --time: 3.4877217955196795s;
            --delay: -2.467581372626626s;
          "
        ></div>
      </div>
      <div class="content">
        <div>
          <div>
            <b>Eldew</b>
          </div>
          <div>
            <b>Spotha</b>
          </div>
          <div>
            <b>Chashakib</b>
          </div>
          <div>
            <b>Athod</b>
          </div>
        </div>
        <div>
          <p>©2022</p>
        </div>
      </div>
    </div>
    <svg style="position: fixed; top: 100vh">
      <defs>
        <filter id="blob">
          <feGaussianBlur
            in="SourceGraphic"
            stdDeviation="10"
            result="blur"
          ></feGaussianBlur>
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
            result="blob"
          ></feColorMatrix>
        </filter>
      </defs>
    </svg>
  </div> -->



  <div class="body">
    <div class="footer">
      <div class="bubbles">
        <div class="bubble" style="--size:4.086646002415308rem; --distance:6.79360406995633rem; --position:16.232388931041765%; --time:2.83707556922668s; --delay:-2.4423106637008534s;"></div>
        <div class="bubble" style="--size:2.2349173364938073rem; --distance:9.477940516573891rem; --position:84.642322114942%; --time:3.720179276682831s; --delay:-3.8206605666598534s;"></div>
        <div class="bubble" style="--size:3.9502259678349763rem; --distance:6.705814229263605rem; --position:53.9572588384113%; --time:3.3721797575504264s; --delay:-3.566345675761782s;"></div>
        <div class="bubble" style="--size:3.703975220794973rem; --distance:6.513671647147941rem; --position:53.95068819530684%; --time:3.081786904112648s; --delay:-2.2094362019872515s;"></div>
        <div class="bubble" style="--size:4.365863337786951rem; --distance:7.123078723003441rem; --position:9.560213533567586%; --time:3.7099723190853524s; --delay:-2.1549947046016054s;"></div>
        <div class="bubble" style="--size:4.240014684230139rem; --distance:6.7591393815766985rem; --position:61.05220753170363%; --time:3.421283033450089s; --delay:-2.005180400788847s;"></div>
        <div class="bubble" style="--size:3.262647579498407rem; --distance:9.271658660873205rem; --position:53.92434760076813%; --time:2.650004635985667s; --delay:-2.2267023986993957s;"></div>
        <div class="bubble" style="--size:2.295247250838549rem; --distance:6.175570497036767rem; --position:27.16344066503742%; --time:3.940976792564999s; --delay:-2.0305203658200504s;"></div>
        <div class="bubble" style="--size:4.53038423211795rem; --distance:9.354248264263052rem; --position:104.75847822601914%; --time:2.932529537477188s; --delay:-3.528263709003835s;"></div>
        <div class="bubble" style="--size:2.821039849768721rem; --distance:9.268202376083035rem; --position:100.3383346917208%; --time:2.6665884120094274s; --delay:-2.542505715991597s;"></div>
        <div class="bubble" style="--size:3.7064144557224328rem; --distance:8.599383142030321rem; --position:81.57666813071395%; --time:3.288975905501888s; --delay:-3.315931981377232s;"></div>
        <div class="bubble" style="--size:4.491010464509069rem; --distance:8.594438346274675rem; --position:29.293285725872863%; --time:3.0426679669845935s; --delay:-3.666404277048705s;"></div>
        <div class="bubble" style="--size:3.7029110133211898rem; --distance:7.483464194938656rem; --position:37.42742236500533%; --time:3.671907404719583s; --delay:-2.5802605142591926s;"></div>
        <div class="bubble" style="--size:2.1399953750739993rem; --distance:7.189721611474441rem; --position:11.198796253922357%; --time:3.9873105510726132s; --delay:-3.9373147898995793s;"></div>
        <div class="bubble" style="--size:3.2898766306792933rem; --distance:7.295325740374882rem; --position:11.7758318092114%; --time:3.1854128561371993s; --delay:-3.5542305617144776s;"></div>
        <div class="bubble" style="--size:4.880280452054376rem; --distance:8.853116408447471rem; --position:1.1744761757773396%; --time:2.597785938777436s; --delay:-3.037818854723882s;"></div>
        <div class="bubble" style="--size:2.074718379614181rem; --distance:7.84102581031078rem; --position:58.582628666025045%; --time:2.1029059691589507s; --delay:-3.5666554778481414s;"></div>
        <div class="bubble" style="--size:3.936425563487571rem; --distance:9.904026647545972rem; --position:37.47504313550389%; --time:2.136349330139209s; --delay:-2.5541217823317965s;"></div>
        <div class="bubble" style="--size:2.6832082199914096rem; --distance:7.185314250243166rem; --position:57.827568545614966%; --time:3.297508597370715s; --delay:-3.243316332837373s;"></div>
        <div class="bubble" style="--size:3.427139942347873rem; --distance:7.161513116479188rem; --position:102.09690687557303%; --time:3.9978762388433586s; --delay:-3.3871063506548373s;"></div>
        <div class="bubble" style="--size:3.2402362848439665rem; --distance:8.35188503640202rem; --position:99.22730906890503%; --time:3.403034410917472s; --delay:-3.1586012442538585s;"></div>
        <div class="bubble" style="--size:2.5274186248026282rem; --distance:6.548531335947935rem; --position:26.848740728873036%; --time:2.248651446319082s; --delay:-3.906047872622443s;"></div>
        <div class="bubble" style="--size:5.542375591791422rem; --distance:6.504075618561914rem; --position:9.213281621526662%; --time:2.5296266699298755s; --delay:-3.236184832544293s;"></div>
        <div class="bubble" style="--size:4.023183518163793rem; --distance:7.544224972982199rem; --position:32.90854938070827%; --time:2.260632302327719s; --delay:-3.2708375116915005s;"></div>
        <div class="bubble" style="--size:3.4716872531495797rem; --distance:6.618721416245929rem; --position:3.2533020745489694%; --time:3.600490324609563s; --delay:-2.6855582074850863s;"></div>
        <div class="bubble" style="--size:2.664646479456624rem; --distance:7.323420602792695rem; --position:93.99903481855712%; --time:2.924754802636865s; --delay:-2.9334499605486064s;"></div>
        <div class="bubble" style="--size:4.105589642923853rem; --distance:8.813894878462198rem; --position:-3.914999871073883%; --time:3.6133972332577473s; --delay:-3.1552012859334027s;"></div>
        <div class="bubble" style="--size:2.9069520967732396rem; --distance:7.773378298919429rem; --position:100.67378782026394%; --time:3.8793917783701817s; --delay:-3.610377739422639s;"></div>
        <div class="bubble" style="--size:4.778865127764249rem; --distance:9.070234171163921rem; --position:68.57755728359244%; --time:3.6004957292448125s; --delay:-3.764513856012914s;"></div>
        <div class="bubble" style="--size:2.803321895067108rem; --distance:6.822486352304726rem; --position:48.61549411697055%; --time:3.3109938946226802s; --delay:-2.739684706219457s;"></div>
        <div class="bubble" style="--size:5.873973396694351rem; --distance:6.515586155916782rem; --position:98.28403674246717%; --time:2.5080303118114395s; --delay:-2.336224222849962s;"></div>
        <div class="bubble" style="--size:4.20914120865117rem; --distance:9.156933509516113rem; --position:88.6650905771795%; --time:2.804683079066603s; --delay:-2.1725837374807653s;"></div>
        <div class="bubble" style="--size:5.321049519616523rem; --distance:9.091098799019942rem; --position:38.89608279733914%; --time:2.4309042886430086s; --delay:-2.278189527410144s;"></div>
        <div class="bubble" style="--size:2.965724068592402rem; --distance:7.634311420474531rem; --position:9.04802568693495%; --time:2.4664476994573046s; --delay:-2.3354282844024663s;"></div>
        <div class="bubble" style="--size:5.969819037784588rem; --distance:8.687194583968648rem; --position:91.08797478119457%; --time:2.2682833524906814s; --delay:-3.857254520475504s;"></div>
        <div class="bubble" style="--size:2.8894471954648644rem; --distance:8.849658197189047rem; --position:19.650667784909693%; --time:2.9422571581272026s; --delay:-3.245311229154847s;"></div>
        <div class="bubble" style="--size:5.825733220474651rem; --distance:7.248249598530839rem; --position:76.33215460451474%; --time:3.6501865699620377s; --delay:-3.930320882608135s;"></div>
        <div class="bubble" style="--size:3.022770116750154rem; --distance:6.912358067970494rem; --position:90.84949737421994%; --time:2.9428516904385997s; --delay:-3.041615518675001s;"></div>
        <div class="bubble" style="--size:4.220431543704969rem; --distance:8.990897037343366rem; --position:57.273526125161695%; --time:3.2820710051938256s; --delay:-3.7460150528167135s;"></div>
        <div class="bubble" style="--size:3.5649681674531584rem; --distance:8.069512961720651rem; --position:60.91596747580766%; --time:3.6603345364009057s; --delay:-3.563894634891009s;"></div>
        <div class="bubble" style="--size:2.2167125073534875rem; --distance:8.047887457329846rem; --position:81.91066020206074%; --time:2.6240837636378638s; --delay:-2.315493983916569s;"></div>
        <div class="bubble" style="--size:5.904746350632639rem; --distance:7.578217842650131rem; --position:-2.7226536240430232%; --time:2.5382097108866644s; --delay:-2.120777203575061s;"></div>
        <div class="bubble" style="--size:4.885364031828629rem; --distance:8.60303595897911rem; --position:65.06137744340697%; --time:3.41202800083637s; --delay:-3.4766332308727885s;"></div>
        <div class="bubble" style="--size:4.77812372232278rem; --distance:6.439518006398438rem; --position:62.75852689513778%; --time:2.184488674674178s; --delay:-2.713787750752999s;"></div>
        <div class="bubble" style="--size:3.278317028772186rem; --distance:7.702011299314621rem; --position:99.65405449935635%; --time:2.2755386197520355s; --delay:-2.484284621864437s;"></div>
        <div class="bubble" style="--size:2.8587446963389205rem; --distance:9.3319792118238rem; --position:16.38978841981992%; --time:3.179657565458776s; --delay:-2.294754865122598s;"></div>
        <div class="bubble" style="--size:2.2355564764475613rem; --distance:6.971427002005527rem; --position:25.851904286789043%; --time:3.49620861410636s; --delay:-2.0398600076609705s;"></div>
        <div class="bubble" style="--size:5.426469985068024rem; --distance:6.15310689690758rem; --position:61.99619829044187%; --time:2.9512998870482905s; --delay:-2.767033457761417s;"></div>
        <div class="bubble" style="--size:3.2446476598440075rem; --distance:8.547471788826225rem; --position:17.637650112808895%; --time:3.664717259539912s; --delay:-2.2860340524016225s;"></div>
        <div class="bubble" style="--size:4.588964619152404rem; --distance:9.501954736283476rem; --position:12.984882179687727%; --time:3.158198682375432s; --delay:-3.6031578637805852s;"></div>
        <div class="bubble" style="--size:5.365598943886935rem; --distance:6.606044405320875rem; --position:20.20549383561869%; --time:2.2261037831827055s; --delay:-3.0437800025193833s;"></div>
        <div class="bubble" style="--size:3.6831745855961397rem; --distance:9.61004878796512rem; --position:77.66218578935532%; --time:2.4145786934362143s; --delay:-2.5071012280841583s;"></div>
        <div class="bubble" style="--size:5.749682713319446rem; --distance:9.17414207051522rem; --position:26.88009591887366%; --time:2.1108094595690767s; --delay:-2.335883482244939s;"></div>
        <div class="bubble" style="--size:2.667158630469763rem; --distance:6.966396923336633rem; --position:93.30315765194729%; --time:3.8601992642694434s; --delay:-2.781492813358568s;"></div>
        <div class="bubble" style="--size:2.6812008051527094rem; --distance:9.494272023885046rem; --position:32.303552627881466%; --time:3.0883750936382737s; --delay:-2.875459117408396s;"></div>
        <div class="bubble" style="--size:3.004503598504913rem; --distance:9.263029516817479rem; --position:91.51494123064153%; --time:2.8920992039819526s; --delay:-3.9201444158482825s;"></div>
        <div class="bubble" style="--size:3.4891623719097487rem; --distance:6.758181382083282rem; --position:31.098539315642313%; --time:3.685853886705167s; --delay:-3.4352722656897847s;"></div>
        <div class="bubble" style="--size:2.6167832743694692rem; --distance:7.096354884826869rem; --position:34.359341294958554%; --time:2.6295905831697657s; --delay:-3.606570905699768s;"></div>
        <div class="bubble" style="--size:4.128625908934497rem; --distance:8.208595173017127rem; --position:101.9117521060965%; --time:2.0469893101036467s; --delay:-3.9632899813542006s;"></div>
        <div class="bubble" style="--size:2.2667479149291596rem; --distance:6.665207745141898rem; --position:89.31379517050469%; --time:2.2810797263760083s; --delay:-2.105729569728023s;"></div>
        <div class="bubble" style="--size:5.207590612673699rem; --distance:7.702844623473458rem; --position:60.195259239303724%; --time:3.788441210674475s; --delay:-2.3142887013205984s;"></div>
        <div class="bubble" style="--size:3.1039750770931382rem; --distance:8.062507112722901rem; --position:81.30044275657524%; --time:3.965807131752043s; --delay:-2.1638849151699255s;"></div>
        <div class="bubble" style="--size:4.655923021254583rem; --distance:8.28556355699016rem; --position:33.24952273591883%; --time:3.522953519316434s; --delay:-3.3374190784697286s;"></div>
        <div class="bubble" style="--size:5.491618019923175rem; --distance:6.442414000794991rem; --position:88.77296457130619%; --time:2.273247931694899s; --delay:-3.1895049517197167s;"></div>
        <div class="bubble" style="--size:3.34804626739258rem; --distance:7.481674464102729rem; --position:68.92558702637949%; --time:3.2585700338274752s; --delay:-2.6924081646849043s;"></div>
        <div class="bubble" style="--size:2.8765400678476354rem; --distance:7.697639964753687rem; --position:43.48920293366825%; --time:3.8599207274935674s; --delay:-3.2401175503236876s;"></div>
        <div class="bubble" style="--size:3.5690369993021624rem; --distance:6.644039071868206rem; --position:84.13570713235613%; --time:3.5117085345313224s; --delay:-3.7441041033600846s;"></div>
        <div class="bubble" style="--size:5.09195559404865rem; --distance:6.550958263911503rem; --position:36.667473045232356%; --time:3.0874878843631444s; --delay:-3.122552011532343s;"></div>
        <div class="bubble" style="--size:5.3832115458466925rem; --distance:7.6176472616999344rem; --position:-3.9831410209796014%; --time:3.2923585779150306s; --delay:-3.9147632887160158s;"></div>
        <div class="bubble" style="--size:5.080907622987298rem; --distance:6.526373895899425rem; --position:65.23421417476408%; --time:3.713018500712356s; --delay:-2.9072606675957506s;"></div>
        <div class="bubble" style="--size:5.779503998391127rem; --distance:6.542404486717521rem; --position:62.5593678596761%; --time:2.9885391602448648s; --delay:-2.104789717919985s;"></div>
        <div class="bubble" style="--size:4.023939584220337rem; --distance:8.937700362661644rem; --position:87.8357480316817%; --time:2.1283188950124474s; --delay:-2.5869280130174284s;"></div>
        <div class="bubble" style="--size:5.238352574507742rem; --distance:6.648287141903593rem; --position:-4.694730155686015%; --time:2.797645404765673s; --delay:-3.3220617766867693s;"></div>
        <div class="bubble" style="--size:3.764488270952004rem; --distance:8.585414641792902rem; --position:17.97813017749881%; --time:2.919220423005171s; --delay:-2.463193770124214s;"></div>
        <div class="bubble" style="--size:5.5160253940140676rem; --distance:7.40342975337102rem; --position:97.07372029729724%; --time:2.5281855983473394s; --delay:-2.8663961300061636s;"></div>
        <div class="bubble" style="--size:5.863126207615308rem; --distance:7.109810290596481rem; --position:-2.713879591456314%; --time:2.5517265841335464s; --delay:-2.9204960373392193s;"></div>
        <div class="bubble" style="--size:4.077571734282989rem; --distance:9.77344656110204rem; --position:24.740650741153363%; --time:3.5268396063255345s; --delay:-2.2993535101740976s;"></div>
        <div class="bubble" style="--size:2.5491408223397425rem; --distance:6.729692540650892rem; --position:14.28052357455178%; --time:3.9064693361673726s; --delay:-3.7839224902497435s;"></div>
        <div class="bubble" style="--size:5.064182676921637rem; --distance:9.444235317658531rem; --position:-2.689654529410026%; --time:3.4262357796566163s; --delay:-2.768640236507147s;"></div>
        <div class="bubble" style="--size:3.2570493307374617rem; --distance:8.120045523621027rem; --position:104.06836128977955%; --time:2.8838577376167813s; --delay:-3.53226048577893s;"></div>
        <div class="bubble" style="--size:5.415595262501339rem; --distance:9.63083456252641rem; --position:7.824695139639747%; --time:2.6268059366719885s; --delay:-2.933852250148611s;"></div>
        <div class="bubble" style="--size:3.949219874013644rem; --distance:6.994838336272297rem; --position:3.703130180114414%; --time:3.019464412324373s; --delay:-3.277010967291839s;"></div>
        <div class="bubble" style="--size:4.682245512734383rem; --distance:7.884940833771334rem; --position:36.61188927705491%; --time:3.370345762997044s; --delay:-2.5464135503875824s;"></div>
        <div class="bubble" style="--size:3.952371877416227rem; --distance:7.286127290315461rem; --position:88.18131636113682%; --time:2.5952188434465566s; --delay:-2.316270765442361s;"></div>
        <div class="bubble" style="--size:5.308499202059002rem; --distance:7.3243902605558615rem; --position:49.92301307392257%; --time:3.5751993383195635s; --delay:-3.1371255293454317s;"></div>
        <div class="bubble" style="--size:2.1934072157423845rem; --distance:7.945850792144592rem; --position:63.88077374139576%; --time:3.323200506655694s; --delay:-3.559114642557087s;"></div>
        <div class="bubble" style="--size:4.957890904519934rem; --distance:6.613167460783068rem; --position:47.51880483315297%; --time:3.0156674077982237s; --delay:-2.889672407736403s;"></div>
        <div class="bubble" style="--size:3.549446852498942rem; --distance:9.691218851061839rem; --position:-0.8173587478054767%; --time:3.324498485825709s; --delay:-2.89609475667271s;"></div>
        <div class="bubble" style="--size:5.930374206402035rem; --distance:8.041719935046482rem; --position:70.46842839381142%; --time:2.9666229101836694s; --delay:-3.429267260168385s;"></div>
        <div class="bubble" style="--size:2.1083153703271886rem; --distance:9.484549252535416rem; --position:90.250499466315%; --time:2.560727184098926s; --delay:-2.95047995797521s;"></div>
        <div class="bubble" style="--size:2.7979779494832675rem; --distance:8.561188178732817rem; --position:26.8275051195779%; --time:3.74454288809609s; --delay:-3.351712994611108s;"></div>
        <div class="bubble" style="--size:4.907589331938894rem; --distance:6.816972321541982rem; --position:49.089850751377476%; --time:3.628705644811594s; --delay:-2.7335774754077673s;"></div>
        <div class="bubble" style="--size:5.363946607031287rem; --distance:8.57485350667481rem; --position:103.835964364524%; --time:3.365090838849885s; --delay:-2.5297782572410057s;"></div>
        <div class="bubble" style="--size:2.0937194387335207rem; --distance:6.478092835586959rem; --position:73.23036963159998%; --time:2.8072139768472097s; --delay:-2.0592331502936334s;"></div>
        <div class="bubble" style="--size:4.1832651709889745rem; --distance:8.137670049223694rem; --position:29.822315627151823%; --time:3.656983388462127s; --delay:-2.3779663345339004s;"></div>
        <div class="bubble" style="--size:5.41825592283559rem; --distance:9.073638048165268rem; --position:93.31945749451472%; --time:3.9091591427342967s; --delay:-3.349935706956264s;"></div>
        <div class="bubble" style="--size:4.375618339748575rem; --distance:8.9196675086523rem; --position:77.04446161835887%; --time:3.9145729404261824s; --delay:-2.4961963783838708s;"></div>
        <div class="bubble" style="--size:4.776632061518021rem; --distance:9.985626908279748rem; --position:3.228924296668456%; --time:2.166932815148779s; --delay:-3.5043560927373387s;"></div>
        <div class="bubble" style="--size:4.3180195121873375rem; --distance:9.045488160552804rem; --position:11.610717964170075%; --time:3.714632248505565s; --delay:-3.9332065681315114s;"></div>
        <div class="bubble" style="--size:3.694733262970356rem; --distance:6.073027431338351rem; --position:93.36155775048088%; --time:2.6465584510165363s; --delay:-3.3707971809143555s;"></div>
        <div class="bubble" style="--size:3.7274406314407003rem; --distance:8.066588054838164rem; --position:53.31413829820392%; --time:2.2899270420027698s; --delay:-3.2207258333591495s;"></div>
        <div class="bubble" style="--size:2.3041599582351724rem; --distance:8.455547843245329rem; --position:78.07903575411996%; --time:2.3447972390466463s; --delay:-3.535973349470092s;"></div>
        <div class="bubble" style="--size:3.0011676115374124rem; --distance:7.88653897532392rem; --position:-2.110503115606226%; --time:3.914908777104011s; --delay:-2.5768412896129567s;"></div>
        <div class="bubble" style="--size:4.093511211119118rem; --distance:8.472878132788468rem; --position:50.050611123184225%; --time:2.610200241464557s; --delay:-3.8202844029087655s;"></div>
        <div class="bubble" style="--size:5.624929549365934rem; --distance:6.267228659442858rem; --position:22.99771415899591%; --time:2.3674470179045333s; --delay:-3.7790385611287087s;"></div>
        <div class="bubble" style="--size:5.105678101041166rem; --distance:8.10012847764633rem; --position:75.0626823709522%; --time:2.6865302136694185s; --delay:-2.1949837107916323s;"></div>
        <div class="bubble" style="--size:4.282790595753654rem; --distance:6.27504949916443rem; --position:-1.2335658269484084%; --time:2.3182683455692215s; --delay:-3.2268726205975926s;"></div>
        <div class="bubble" style="--size:2.001729826756688rem; --distance:8.638349633289435rem; --position:50.85490557167191%; --time:3.3894223207587078s; --delay:-2.2490954844088975s;"></div>
        <div class="bubble" style="--size:4.340401284307461rem; --distance:8.769447913550533rem; --position:32.46288654528439%; --time:2.234216686264211s; --delay:-2.6935448814885254s;"></div>
        <div class="bubble" style="--size:5.1942932779471755rem; --distance:9.113254702813832rem; --position:28.34079270508716%; --time:2.5602092268997714s; --delay:-2.342308791310562s;"></div>
        <div class="bubble" style="--size:4.212641183286625rem; --distance:8.413844220740913rem; --position:29.38170443668878%; --time:2.568370702442406s; --delay:-2.265815789600048s;"></div>
        <div class="bubble" style="--size:4.606468580825421rem; --distance:6.365882897888777rem; --position:71.15501848366583%; --time:2.2184373714442827s; --delay:-2.0695859511848074s;"></div>
        <div class="bubble" style="--size:2.9288798131691998rem; --distance:8.428077535699785rem; --position:49.28663676993155%; --time:3.8459415523857454s; --delay:-2.1277636310984973s;"></div>
        <div class="bubble" style="--size:5.707800897433038rem; --distance:7.714740068943703rem; --position:7.091027186170875%; --time:3.225639802855469s; --delay:-3.841519455850949s;"></div>
        <div class="bubble" style="--size:4.59689131638445rem; --distance:8.752663131207338rem; --position:11.557710274080936%; --time:3.046913877720341s; --delay:-3.0977113656993036s;"></div>
        <div class="bubble" style="--size:3.6768967543233613rem; --distance:9.975811529208197rem; --position:14.006731454906195%; --time:3.5488906093307016s; --delay:-2.710734531752638s;"></div>
        <div class="bubble" style="--size:3.8667010884027153rem; --distance:9.677304161434105rem; --position:2.9939021263200143%; --time:3.7058029506217762s; --delay:-3.348745916440972s;"></div>
        <div class="bubble" style="--size:5.786533602767088rem; --distance:7.847086028688034rem; --position:4.140609785076737%; --time:2.629411030458366s; --delay:-2.2706738481650666s;"></div>
        <div class="bubble" style="--size:2.5007192236228972rem; --distance:8.487690265471656rem; --position:102.91727534101761%; --time:2.40296276614045s; --delay:-3.894888216835966s;"></div>
        <div class="bubble" style="--size:3.1074988990938373rem; --distance:7.873151189728527rem; --position:2.11980872433283%; --time:3.4962868326913363s; --delay:-3.3181831908219173s;"></div>
        <div class="bubble" style="--size:2.7452880005489098rem; --distance:8.373892338753189rem; --position:72.33644664327862%; --time:3.331248892879373s; --delay:-2.804461597833993s;"></div>
        <div class="bubble" style="--size:2.2488864724537674rem; --distance:6.8189021898254305rem; --position:80.20099390189851%; --time:3.6916678349124963s; --delay:-3.740912139501624s;"></div>
        <div class="bubble" style="--size:2.7104316561677306rem; --distance:9.413652021152199rem; --position:69.71380699564811%; --time:2.9101769953011143s; --delay:-3.8952913693830493s;"></div>
        <div class="bubble" style="--size:2.8804916110965477rem; --distance:9.722971984216883rem; --position:2.9865615905794733%; --time:3.389483523591326s; --delay:-2.188925679199228s;"></div>
        <div class="bubble" style="--size:3.4168141250547226rem; --distance:6.675588539263869rem; --position:37.1499739164519%; --time:3.4028954456691864s; --delay:-2.572551392728514s;"></div>
        <div class="bubble" style="--size:5.534542130180953rem; --distance:9.96903673833214rem; --position:20.14466722411003%; --time:2.2171911888745948s; --delay:-3.7892219464319914s;"></div>
        <div class="bubble" style="--size:3.0955756769127474rem; --distance:7.891441274593456rem; --position:47.61036512983767%; --time:3.7465295465202235s; --delay:-2.263301734163277s;"></div>
        <div class="bubble" style="--size:5.173837283842709rem; --distance:6.662294747195278rem; --position:97.42283779350223%; --time:3.4877217955196795s; --delay:-2.467581372626626s;"></div>
      </div>
      <div class="content">
        <div>
          <div><b>Proyecto Curriculum</b>: Desarrollado por Pablo Fernandez Aduviri</div>
          <div><b>Informacion: </b>Esta página tuvo mucho apoyo por parte de Zed Dash Pro</div>
          <!-- <div><b>Detalles: </b> Créditos a <a href="https://codepen.io/z-">Zed Dash Pro </a> visítalo.</div> -->
        </div>
        <div>
          <p>©2022</p>
        </div>
      </div>
    </div>
    <svg style="position:fixed; top:100vh">
      <defs>
        <filter id="blob">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
          <!--feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect-->
        </filter>
      </defs>
    </svg>
  </div>