.seccion{
  background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(209,195,0,1) 30%);
  width: 100%;
  height: 100%;
}


.spinner{
  margin: 0 auto;
}

.roud{
  height: 50px;
}


.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form>* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  width: 100%;
  resize: none;
}

textarea{
  border-radius: 5px;
  border: none;
  width: 100%;
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader {
  text-align: center;
}

.none {
  display: none;
}

.boton{
  border-radius: 15px;
  margin-top: 30px;
  width: 50%;
  padding: 2%;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(209,195,0,1) 30%);
}

.boton:hover{
  background: rgb(209,195,0);
background: linear-gradient(0deg, rgba(209,195,0,1) 46%, rgba(255,0,0,1) 100%);
}


.mensajeEnviado{
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center; 
  border-radius: 15px;
  color: rgb(0, 0, 0);
}




@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}


.titulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
















