<div id="contactenos" class="seccion">
  <h1 class="titulo">CONTACTAME</h1>
  <div class="container">
    <div class="row">
      <form id="formulario-contacto" [formGroup]="formulario" (ngSubmit)="enviar()">

        <div class="form-block" id="grupo-nombre">
          <div style="color: red; text-align: center; font-size: 15px;" *ngIf="nombreNoValido">
            El Nombre Solo Debe Contener Letras
          </div>
          <input title="El nombre solo tiene letras" type="text" id="nombre" class="form-control" placeholder="Nombre"
            formControlName="nombre" [class.is-invalid]="nombreNoValido">
          <br>

        </div>

        <div class="form-block" id="grupo-email">
          <div style="color: red; text-align: center;" *ngIf="correoNoValido">
            El Correo Electronico debe tener el Formato Específico
          </div>
          <input title="Ingrese un correo valido" type="email" id="email" class="form-control"
            placeholder="Correo Electronico" formControlName="email" [class.is-invalid]="correoNoValido">
          <br>

        </div>

        <div class="form-block" id="grupo-mensaje">
          <div style="color: red; text-align: center;" *ngIf="mensajeNoValido">
            Debe Ingresar Numeros y Letras
          </div>
          <textarea placeholder="Escribe tus comentarios" class="form-control"
            title="Tu comentario no debe exceder los 255 caracteres" data-pattern="^.{1,255}$" required
            title="Ingrese solo numeros y letras" name="mensaje" id="mensaje" cols="30" rows="10" class="mensaje"
            placeholder="Mensaje" formControlName="mensaje" [class.is-invalid]="mensajeNoValido"></textarea>
          <br>
        </div>

        <div style="text-align: center;" class="form-block bloque-ultimo">
          <button type="submit" id="btnEnviar" class="boton" [disabled]="formulario.invalid">Enviar</button>
        </div>
        <div class="roud" *ngIf="loading">
          <mat-spinner diameter="80" class="spinner"></mat-spinner>
        </div>
        <div class="mensajeEnviado">
          {{ mensaje }}
        </div>
      </form>
    </div>
  </div>
  <br><br><br><br><br><br><br>
</div>