<div class="card">
  <div class="card-body">
    <!-- FORM TO ADD TASKS -->
    <h2>Agregar</h2>
    <form ngNativeValidate [formGroup]="formulario" (submit)="Addtarea()">
      <div class="form-group">
        <label class="form-label">Nombre</label>
        <input type="text" placeholder="Nombre" class="form-control" title="El nombre solo debe tener letras y espacios" formControlName="nombre" id="nombre" [class.is-invalid]="nombreNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="nombreNoValido">
          El Nombre debe ser menor a 15 caracteres
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Apellidos</label>
        <input type="text" placeholder="Apellidos" class="form-control" title="El apellido solo debe tener letras y espacios" formControlName="apellido" id="apellido" [class.is-invalid]="apellidoNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="apellidoNoValido">
          El Apellido debe ser de maximo 30 caracteres
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Correo Electronico</label>
        <input type="email" placeholder="Email" class="form-control" title="Ingresa un Correo Válido" formControlName="email" id="email" [class.is-invalid]="emailNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="emailNoValido">
          El Correo debe tener el formato especifico
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Numero de Celular</label>
        <input type="number" placeholder="celular" class="form-control" title="Ingrese 8 digitos" formControlName="celular" id="celular" [class.is-invalid]="celularNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="celularNoValido">
          El Numero debe ser de 8 numeros
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Seleccione una Fecha</label>
        <input type="date" placeholder="fecha" class="form-control" formControlName="fecha" id="fecha" [class.is-invalid]="fechaNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="fechaNoValido">
          Debe Seleccionar una Fecha
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Seleccione una Hora</label>
        <input type="time" placeholder="Hora" class="form-control" formControlName="hora" id="hora" [class.is-invalid]="horaNoValido" required>
        <small style="color: red; text-align: center;" *ngIf="horaNoValido">
          Debe Seleccionar una Hora
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Describa su Razon...</label>
        <textarea cols="20" rows="5" class="form-control" placeholder="Descripcion" title="Tu descripcion no debe exceder los 255 caracteres" formControlName="description" id="description" [class.is-invalid]="descriptionNoValido" required></textarea>
        <small style="color: red; text-align: center;" *ngIf="descriptionNoValido">
          Debe Redactar su Nota
        </small>
      </div>
      <button type="submit" class="boton btn-block" [disabled]="formulario.invalid">Documentar</button>
    </form>
  </div>
</div>

