<div class="body">
  <div id="calendar-animation" class="icon-animation">
    <div class="icon-wrap">
      <div id="calendar-icon">
        <div class="anillas">
          <div class="anilla"></div>
          <div class="anilla"></div>
          <div class="anilla"></div>
          <div class="anilla"></div>
          <div class="anilla"></div>
          <div class="anilla"></div>
        </div>
        <div class="graph">
          <div class="graphi-arrow">
          </div>
        </div>
        <div class="days">
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
        </div>
        <div id="r3">
          <div id="p3">
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="bounce">
  <app-tareas *ngFor="let tarea of tareas" [tarea]="tarea"></app-tareas>
</div>