.container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  width: 100%;
}



.seccion{
  background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(236,220,0,1) 30%);

  width: 100%;
  height: 100%;
}

.izq{
  width: 60%;
  height: 100%;
}

.der{
  width: 36%;
}

@media screen and (max-width: 900px) {
  .container{
    flex-direction: column-reverse;
  }
  .izq{
    width: 100%;
  }
  .der{
    margin-top: 15px;
    width: 100%;
  }
}